<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="login">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        // 获取cookie里的昵称，账号
        function getCookie(){
            var id = $("#titleName").val();
            var str = document.cookie;
            var arr = str.split(";");
            $.each(arr, function (index, obj){
                if(arr==""){
                    $("#username").append($("#ningzi").val())
                }
                var array = obj.split("=");
                if(array[0].trim()=="cookie_name2"){
                    console.log(array[1]);//111-111
                    var ar = array[1].split("&");
                    var uname = ar[0];//111
                    var username = ar[1];//111
                    // alert(username)
                    $('[name="loginAcct"]').val(uname);//账号
                    if(id==""){
                        $("#username").append(username+"请登录");
                    }else{
                        $("#username").append($("#ningzi").val())
                    }
                    if(username!=null){
                        $("#name").append(username);//名字
                    }else{
                        $("#kong").append('hi,你好');
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="top" th:fragment="loginBody">
    <div class="top_text">
        <a href="javascript:clearSession()">退出</a>
        <a href="/login/toLogin2">用户登录</a>
        <a href="/login/toRegist">用户注册</a>
        <a href="javascript:void(0)">你好,<span id="username"></span></a>
    </div>
</div>

<div class="search_on" th:fragment="biaoTi">
    <div class="se">
        <input type="text" name="search" class="lf">
        <input type="submit" class="clik" value="搜索">
    </div>
    <div class="se" >
        <a href="">取暖神奇</a>
        <a href="">1元秒杀</a>
        <a href="">吹风机</a>
        <a href="">玉兰油</a>
    </div>
</div>

</body>
</html>