<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="login">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>

    <style>
        #lunboTiTleDIvId {
            position: relative;
            width: 450px;
            height: 50px;
            margin: 10px auto;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
        #lunboTiTleDIvId ul {
            position: absolute;left: 0;
            margin: 0;padding: 0;
        }
        #lunboTiTleDIvId ul li {
            list-style: none;
            float: left;
            width: 450px;
            height: 50px;
            padding: 0px;
        }

    </style>
    <script type="text/javascript">

        $(function () {
            queryTitleMin();//查询  轮播标题
        })
        // 获取cookie里的昵称，账号
        function getCookie(){
            var id = $("#titleName").val();
            var str = document.cookie;
            var arr = str.split(";");
            $.each(arr, function (index, obj){
                if(arr==""){
                    $("#username").append($("#ningzi").val())
                }
                var array = obj.split("=");
                if(array[0].trim()=="cookie_name2"){
                    console.log(array[1]);//111-111
                    var ar = array[1].split("&");
                    var uname = ar[0];//111
                    var username = ar[1];//111
                    // alert(username)
                    $('[name="loginAcct"]').val(uname);//账号
                    if(id==""){
                        $("#username").append(username+"请登录");
                    }else{
                        $("#username").append($("#ningzi").val())
                    }
                    if(username!=null){
                        $("#name").append(username);//名字
                    }else{
                        $("#kong").append('hi,你好');
                    }
                }
            })
        }

        //查询  轮播标题
        function queryTitleMin() {
            $.ajax({
                url: "/img/queryTitleMin",
                type: "POST",
                success: function (result) {
                    var flag = "";
                    $.each(result, function (index, obj) {
                        if(index==0|index%6==0){
                            flag += '<li>'
                        }
                        flag += '<a style="text-decoration:none"  href="'+obj.tiurl+'" >' + obj.tiname + '</a>';
                    })
                    $("#lunboTiTleUlid").html(flag);
                    lunboTitle();
                },
                error: function () {
                    alert("失败了");
                }
            });
        }

        function lunboTitle() {
            var oDiv = document.getElementById('lunboTiTleDIvId');
            var oUl = oDiv.getElementsByTagName('ul')[0];
            var aLi = oUl.getElementsByTagName('li');
            var timer = null;
            var iSpeed = -5;//轮播速度
            oUl.innerHTML += oUl.innerHTML;
            oUl.style.height = aLi.length * aLi[0].offsetHeight + 'px';
            timer =setTimeout(fnMove, 5000);//等待多长时间开始轮播
            oDiv.onmouseover = function () {
                clearInterval(timer);
            }
            oDiv.onmouseout = function () {
                clearInterval(timer);
                timer = setInterval(fnMove, 100);
            }
            function fnMove() {
                if (oUl.offsetTop < -oUl.offsetHeight / 2) {
                    oUl.style.top = 0;
                }
                oUl.style.top = oUl.offsetTop + iSpeed + 'px';
                if ((oUl.offsetTop % 50) == 0) {
                    clearInterval(timer);
                    timer =setTimeout(fnMove, 5000);//轮播间隔时间

                } else {
                    clearInterval(timer);
                    timer = setTimeout(fnMove, 100);
                }
            }
        }
        //搜索
        function searchProduct(){
            var search=$("[name=\"search\"]").val();
            if(search!=''&&search!=null){
                $.ajax({
                    url:"/queryProduct",
                    type:"POST",
                    data:{queryString:search},
                    success:function(result){
                        $("#aa").html("");
                        var content="";
                        $.each(result,function (index,obj) {
                            content="<div class=\"list\"   >"
                            content+="<div class=\"img\"><a href='/getShowPage?id="+obj.id+"'><img src="+obj.img+" ></a></div>"
                            content+="<div style='color: red '>"+obj.shpmch+"</div>"
                            content+="<div class=\"price\">￥"+obj.price+"</div>"
                            content+="<div class=\"title\">"+obj.shxmmch+"&nbsp;"+obj.sxz+obj.shxmmch+"</div>"
                            content+="<div class=\"title\">"+obj.adress+"</div>"
                            content+="</div>"
                            $("#aa").append(content)
                        })
                    },
                    error:function(){
                        alert("失败了");
                    }
                })
            }else{
                location.reload();
            }
        }
    </script>
</head>
<body>
<div class="top" th:fragment="loginBody">
    <div class="top_text">
        <a href="javascript:clearSession()">退出</a>
        <a href="/login/toLogin2">用户登录</a>
        <a href="/login/toRegist">用户注册</a>
        <a href="javascript:void(0)">你好,<span id="username"></span></a>
        <a href="/test/toView?url=home">首页</a>
    </div>
</div>
zz
<div class="search_on" th:fragment="biaoTi">
    <div class="se">
        <input type="text" name="search" class="lf">
        <input type="submit" class="clik" value="搜索" onclick="searchProduct()">
    </div>
    <div class="se" id="lunboTiTleDIvId">
        <ul id="lunboTiTleUlid">
        </ul>
    </div>
</div>

</body>
</html>