<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/css.css">

</head>
<head th:replace="gwc :: home"  ></head>
<script type="text/javascript">
    $(function () {
        $("[name=\"search\"]").val("");
		function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }
        var id = getQueryString("pid");
        var id2 = getQueryString("id");
        $("#classid1").html(getQueryString("name"))
        $("#classid2").html(getQueryString("name2"))
        queryPp(id);
        queryShuxing(id2);
        productShow(id)
        getCookie();

        queryTitle();//查询标题
    })
    // 获取cookie里的昵称，账号
    function getCookie(){
        var id = $("#titleName").val();
        var str = document.cookie;
        var arr = str.split(";");
        $.each(arr, function (index, obj){
            if(arr==""){
                $("#username").append($("#ningzi").val())
            }
            var array = obj.split("=");
            if(array[0].trim()=="cookie_name2"){
                console.log(array[1]);//111-111
                var ar = array[1].split("&");
                var uname = ar[0];//111
                var username = ar[1];//111
                // alert(username)
                $('[name="loginAcct"]').val(uname);//账号
                if(id==""){
                    $("#username").append(username+"请登录");
                }else{
                    $("#username").append(username)
                }
                if(username!=null){
                    $("#name").append(username);//名字
                }else{
                    $("#kong").append('hi,你好');
                }
            }
        })
    }

	function queryPp(id) {
        $.ajax({
            url: "/getPinPai",
            type: "POST",
            data:{id:id},
            success: function (result) {
                var cont="";
                $.each(result,function (index,obj) {
                    cont += '<a href="###" onclick="addup1(\''+obj.ppmch+'\')">'+obj.ppmch+'</a>';
                    //cont += '<img class="loading-style2" width="102" height="36" data-lazy-img="done" src="'+obj.url+'">';
                })
                $("#divId").append(cont);
            },
            error: function () {
                alert("失败了");
            }
        });
    }
    var iiid = 0;
    function queryShuxing(id2) {
        $.ajax({
            url: "/getAttrValue",
            type: "POST",
            data:{id:id2},
            success: function (result) {
                console.log(result);
                var cont="";
                $.each(result,function (index,obj) {
                    iiid++;
                    cont += "<div class='list' id='"+iiid+"'>";
                    cont+='<span>'+obj.shxm_mch+'</span>';
                    $.each(obj.shuxzhlist,function (index,obj1) {
                        cont+='<a href="###" onclick="addup('+iiid+',\''+obj.shxm_mch+'\',\''+obj1+'\')">'+obj1+'</a>';
                    })
                    cont += "</div>"
                })

                $("#divId1").append(cont);
            },
            error: function () {
                alert("失败了");
            }
        });
    }
    function addup(index,a,b) {
        var ppp = 0;
        ppp = index;
        //var cont = '<span class="gt">&gt;</span>';
        var cont = '<div id="classid4" onclick="getRome('+ppp+')" class="filter_div">';
        cont += '>'+a+':'+b;
        cont += '</div>';
        //alert(cont);
        $('#filterid').append(cont);
        $('#'+index).hide();
    }
    function getRome(qqqq){
        $("#classid4").remove();
        $('#'+qqqq).show();
    }
    function addup1(name) {
        //var cont = '<span class="gt">&gt;</span>';
        var cont = '<div id="classid3" onclick="getRome1()" class="filter_div">';
        cont += '>品牌:'+name;
        cont += '</div>';
        //alert(cont);
        $('#filterid').append(cont);
        $('#divId').hide();
    }
    function getRome1(){
        $("#classid3").remove();
        $("#divId").show();
    }
    function productShow(id) {

        $.ajax({
            url:"/getProductShow",
            type:"POST",
            data:{id:id},
            success:function(result) {
               // console.log(result)
                 var content="";
                $.each(result,function (index,obj) {
                    content="<div class=\"list\"   >"
                    content+="<div class=\"img\"><a href='/getShowPage?id="+obj.id+"'><img src="+obj.img+" ></a></div>"
                    content+="<div style='color: red '>"+obj.shpmch+"</div>"
                    content+="<div class=\"price\">￥"+obj.price+"</div>"
                    content+="<div class=\"title\">"+obj.shxmmch+"&nbsp;"+obj.sxz+obj.shxmmch+"</div>"

                    content+="<div class=\"title\">"+obj.adress+"</div>"
                    content+="</div>"
                    $("#aa").append(content)
                })

            },
                error:function () {
                    alert("失败了");
                }

        })
    }



//查询标题
    function queryTitle() {

        $.ajax({
            url: "/img/queryTitle",
            type: "POST",
            success: function (result) {
                var flag = "";
                $.each(result, function (index, obj) {
                    flag += '<li><a href="'+obj.turl+'" >' + obj.tname + '</a></li>'
                })
                $("#titleid").html(flag);
            },
            error: function () {
                alert("失败了");
            }
        });
    }
//搜索
    function searchProduct(){
        var search=$("[name=\"search\"]").val();
        if(search!=''&&search!=null){
            $.ajax({
                url:"/queryProduct",
                type:"POST",
                data:{queryString:search},
                success:function(result){
                    $("#aa").html("");
                    var content="";
                    $.each(result,function (index,obj) {
                        content="<div class=\"list\"   >"
                        content+="<div class=\"img\"><a href='/getShowPage?id="+obj.id+"'><img src="+obj.img+" ></a></div>"
                        content+="<div style='color: red '>"+obj.shpmch+"</div>"
                        content+="<div class=\"price\">￥"+obj.price+"</div>"
                        content+="<div class=\"title\">"+obj.shxmmch+"&nbsp;"+obj.sxz+obj.shxmmch+"</div>"
                        content+="<div class=\"title\">"+obj.adress+"</div>"
                        content+="</div>"
                        $("#aa").append(content)
                    })
                },
                error:function(){
                    alert("失败了");
                }
            })
        }else{
            location.reload();
        }
    }
    function clearSession(){
        $.ajax({
            url:"/login/clearSession",
            type:"POST",
            success:function(data){
                location.reload()
            },
            error:function(){
                alert("失败了");
            }
        });
    }

</script>
<body>
<div class="top">
    <div class="top_text">
        <a href="javascript:clearSession()">退出</a>
        <a href="/login/toLogin2">用户登录</a>
        <a href="/login/toRegist">用户注册</a>
        <a href="javascript:void(0)">你好,<span id="username"></span></a>
    </div>
</div>
<!--顶部图片-->
<div class="top_img" style="height: 70px">
    <img src="//image5.suning.cn/uimg/cms/img/154823272581126812.png" width="100%" height="80px">
</div>
<div class="search">
    <div class="logo"> <img src="//img20.360buyimg.com/da/jfs/t1/23377/26/6007/190377/5c46b6dcE6a2e665e/323a50ca6adbc492.gif?t=1548224782175" width="120px"></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="clik" value="搜索" onclick="searchProduct()">
        </div>
        <div class="se">
            <a href="">取暖神奇</a>
            <a href="">1元秒杀</a>
            <a href="">吹风机</a>
            <a href="">玉兰油</a>
        </div>
    </div>
    <div th:replace="gwc :: miniCar"></div>
    </div>
</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                商品导航
                <div class="nav_mini" style="position: absolute; z-index:999;" >
                    <ul>
                        <div id="oneid" ></div>
                    </ul>
                </div>
            </div>
            <ul id="titleid">

            </ul>
        </div>
    </div>
</div>
<!--筛选阶段-->
<div class="filter" id="filterid">
    <h2 id="classid1" > </h2>
    <span class="gt" id="">&gt;</span>
    <div id="classid2" class="filter_div"></div>
</div>
<div class="filter">
    <button onclick="location.reload()">清空筛选</button>
</div>
<div class="Sscreen">
    <div class="title">
        平板电视 商品筛选 共1205个商品
    </div>
	<div class="list">
        <div id="divId">
            <span>品牌：</span>
        </div>
        <div id="divId1">
        </div>
    </div>
    <div class="list">
        <span class="list_span" id="list_beas">销量</span>
        <span class="list_span">价格</span>
        <span class="list_span">评论数</span>
        <span class="list_span">上架时间</span>
    </div>
</div>
<input type="hidden" id="ningzi" th:value="${session.users?.userName}">
<input type="hidden" id="titleName" th:value="${session.users?.userName}">
<div class="Sbox" id="aa">
</div>
<div class="footer">
    <div class="top"></div>
    <div class="bottom"><img src="images/foot.jpg" alt=""></div>
</div>
</body>
</html>