<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/bootstrap-table/bootstrap-table.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/layer/layer.js"></script>
</head>
<script type="text/javascript">
    var qqqq="";
$(function () {
    gwcsl();
    $("#img").attr("src", "[[${session.mallSku.img}]]");
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }
        var id = getQueryString("id");
         qqqq=id;
        getPl(id);
       getCookie();
})
    // 获取cookie里的昵称，账号
    function getCookie(){
        var id = $("#titleName").val();
        var str = document.cookie;
        var arr = str.split(";");
        $.each(arr, function (index, obj){
            if(arr==""){
                $("#username").append($("#ningzi").val())
            }
            var array = obj.split("=");
            if(array[0].trim()=="cookie_name2"){
                console.log(array[1]);//111-111
                var ar = array[1].split("&");
                var uname = ar[0];//111
                var username = ar[1];//111
                // alert(username)
                $('[name="loginAcct"]').val(uname);//账号
                if(id==""){
                    $("#username").append(username+"请登录");
                }else{
                    $("#username").append(username)
                }
                if(username!=null){
                    $("#name").append(username);//名字
                }else{
                    $("#kong").append('hi,你好');
                }
            }
        })
    }

    function getPl(id) {
        $('#table').bootstrapTable({
            url:"/getPl",
            striped: true,  //表格显示条纹，默认为false
            method:"post",
            contentType:"application/x-www-form-urlencoded",
            toolbar:'#toolbar',
            pagination: true, // 在表格底部显示分页组件，默认false
            pageList: [2,3,4,6,8], // 设置页面可以显示的数据条数
            pageSize: 4, // 页面数据条数
            pageNumber: 1, // 首页页码
            clickToSelect: false, //是否启用点击选中行
            sidePagination: 'server', // 设置为服务器端分页(!!!!)
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                console.log(params)
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    offset: params.offset, // 每页显示数据的开始行号
                    id:id
                }
            },
            columns: [{
                checkbox: true
            }, {
                field: 'username',
                title: '用户'
            }, {
                field: 'plshj',
                title: '评论时间'
            },{
                field: 'plnr',
                title: '评论内容'
            }]
        })
    }
    $(document).ready(function(){
        $("#flip").click(function(){
            $("#panel").slideToggle("slow");
        });

    })
    function tj(){
        var a=$("[name='plnr']").val();
        $.ajax({
            url:"/addPl",
            type:"POST",
            data:{plnr:a,sku_id:qqqq},
            success:function(result){
                location.reload();
            },
            error:function(){
                alert("失败了");
            }
        })
    }



    function addcar(){
        $.ajax({
            url:"/car/addCar",
            type:"POST",
            data:{sku:qqqq,sl:$("#sljj").val()},
            success:function(data){
                if(data==1){
                    alert("加入购物车成功");
                }
                if(data==2){
                    alert("请先登录!!!");
                }
            },
            error:function(){
                alert("失败了");
            }
        });

    }
//加减
    function jiaorjian(type){
    var  sl=parseInt($("#sljj").val());
     if(type==1){
         if(sl<10){
             sl=sl+1;
         }else{
             alert("最多选择十件");
         }
         $("#sljj").val(sl)
     }else{
         if(sl>1){
             sl=sl-1;
         }else{
             alert("至少选择一件")
         }
         $("#sljj").val(sl);
     }
    }
    //购物车
    function gwc(){
        var sl=0;
        var jg=0;
        $.ajax({
            url:"/car/queryCar",
            type:"POST",
            async:false,
            success:function(result){
                var count="<div class='cart_pro'>";
                count+= "<h6>最新加入的商品</h6>";
                $.each(result,function(index,obj){
                    console.log(obj);
                    count+= "<div class='one'>";
                    count+='<img src="'+obj.shp_tp+'" width="40px" height="40px">';
                    count+='<span class="one_name">'+obj.sku_mch+'</span>';
                    count+='<span class="one_prece"><b>'+obj.sku_jg+'*'+obj.tjshl+'</b><br></span>';
                    count+='</div>';
                    sl= parseInt(sl)+parseInt(obj.tjshl);
                    jg=parseInt(jg)+parseInt(obj.sku_jg)*parseInt(obj.tjshl)
                    console.log(typeof(obj.tjshl))
                })
                count+='<div class="gobottom">';
                count+='共<span>'+sl+'</span>件商品&nbsp;&nbsp;&nbsp;&nbsp';
                count+='共计￥<span>'+jg+'</span>';
                count+='<button class="goprice" onclick=\'location.href="/test/toView?url=cartPage"\'>去购物车</button>';
                count+='</div>';
                count+='</div>';
                $(".card").append(count);
            },
            error:function(){
                alert("失败了");
            }
        })
    }
    function gwcsl(){
     $.ajax({
     		url:"/car/queryCar",
     		type:"POST",
     		success:function(result){
                var sl=0;
                $.each(result,function(index,obj){
                    sl= parseInt(sl)+parseInt(obj.tjshl);
                })
                $("#js").html(sl);
     		},
     		error:function(){
     			alert("失败了");
     		}
     		})
    }
    function gm(){
      if("[[${session.users}]]"!=null&&"[[${session.users}]]"!=""){
          location.href="/pay/toPay?money="+"[[${session.mallSku.price}]]"
      }else{
          alert("请先登录");
      }
    }
</script>
<style type="text/css">
    #panel,#flip
    {
        padding:5px;
        text-align:center;
        background-color:#e5eecc;
        border:solid 1px #c3c3c3;
    }
    #panel
    {
        padding:50px;
        display:none;
    }
</style>
<body>
<input type="hidden" id="ningzi" th:value="${session.users?.userName}">
<input type="hidden" id="titleName" th:value="${session.users?.userName}">
<div class="top">
    <div class="top_text">
        <a href="/login/toLogin2">用户登录</a>
        <a href="/login/toRegist">用户注册</a>
        <a href="javascript:void(0)">你好,<span id="username"></span></a>
    </div>
</div>

<div class="search">
    <div class="logo"> <img src="//img20.360buyimg.com/da/jfs/t1/23377/26/6007/190377/5c46b6dcE6a2e665e/323a50ca6adbc492.gif?t=1548224782175" width="120px"></div>
    <div class="search_on">
        <div class="se">
            <input type="text" name="search" class="lf">
            <input type="submit" class="clik" value="搜索">
        </div>
        <div class="se">
            <a href="">取暖神奇</a>
            <a href="">1元秒杀</a>
            <a href="">吹风机</a>
            <a href="">玉兰油</a>
        </div>
    </div>
    <div class="card" onmouseleave="$('.cart_pro').remove()">
        <a href="/test/toView?url=cartPage" onmouseenter="gwc()">购物车<div class="num" id="js">0</div></a>
    </div>

</div>
</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <!--<div class="left_nav">
                全部商品分类
            </div>-->
        </div>
    </div>
</div>
<div class="Dbox">
    <div class="box">
        <div class="left">
            <div class="timg"><img  id="img" alt=""></div>
            <div class="timg2">
                <div class="lf"><img src="images/lf.jpg" alt=""></div>
                <div class="center">
                    <span><img src="/images/aa.jpg" alt="" width="50"></span>
                    <span><img src="/images/bb.jpg" alt="" width="50"></span>
                    <span><img src="/images/cc.jpg" alt="" width="50"></span>
                    <span><img src="/images/dd.jpg" alt="" width="50"></span>
                    <span><img src="/images/ee.jpg" alt="" width="50"></span>
                </div>
                <div class="rg"><img src="images/rg.jpg" alt=""></div>
            </div>
            <div class="goods"><img src="images/img_6.jpg" alt=""></div>
        </div>
        <div class="cent">
            <div class="title">[[${session.mallSku.shpmch}]]</div>
            <div class="bg">
                <p>市场价：<strong>￥[[${session.mallSku.price}]]</strong></p>
                <p>促销价：<strong>￥[[${session.mallSku.price}]]</strong></p>
            </div>
            <div style='color: red '>
            <p>商品描述：<strong>[[${session.mallSku.msh}]]</strong></p>

            </div>

            <div class="clear" style="margin-top:20px;">
                <div class="min_t" style="line-height:36px">数量：</div>
                <div class="num_box">
                    <input type="text" name="num" id="sljj" value="1" style="width:40px;height:32px;text-align:center;float:left">
                    <div class="rg">
                        <img src="images/jia.jpg" id="jia" onclick="jiaorjian(1)">
                        <img src="images/jian.jpg" id="jian" onclick="jiaorjian(2)">
                    </div>
                </div>
            </div>
            <div class="clear" style="margin-top:20px;">
                <img src="images/mai.jpg" onclick="gm()">
                <a href="javascript:void(0)"  onclick="addcar()"><img src="images/shop.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>


<div style="margin-left: 200px;">
    <ul id="myTab" class="nav nav-tabs">

        <li class="active">
            <a href="#aa" data-toggle="tab">商品介绍</a>
        </li>
        <li><a href="#bb" data-toggle="tab">规格与包装</a></li>
        <li><a href="#cc" data-toggle="tab">售后保障</a></li>
        <li><a href="#dd" data-toggle="tab">商品评价</a></li>
        <li><a href="#ee" data-toggle="tab">社区互动</a></li>
    </ul>
</div>

<div id="myTabContent" class="tab-content" style="margin-left: 200px;" >
    <div class="tab-pane fade in active" id="aa">
        <div >
            <ul >
                <li title="Apple">品牌： <a href="//list.jd.com/list.html?cat=670,671,672&amp;tid=672&amp;ev=exbrand_14026" clstag="shangpin|keycount|product|pinpai_1" target="_blank">Apple</a>
                    <!--a href="#none" class="follow-brand btn-def" clstag='shangpin|keycount|product|guanzhupinpai'><b>&hearts;</b>关注 -->
                </li>
            </ul>
            <ul >
                <li title="AppleMQD32CH/A">商品名称：AppleMQD32CH/A</li>
                <li title="5225346">商品编号：5225346</li>
                <li title="2.96kg">商品毛重：2.96kg</li>
                <li title="中国大陆">商品产地：中国大陆</li>
                <li title="MAC">系统：MAC</li>
                <li title="其他">分辨率：其他</li>
                <li title="集成显卡">显卡类别：集成显卡</li>
                <li title="13.3英寸">屏幕尺寸：13.3英寸</li>
                <li title="其他">内存容量：其他</li>
                <li title="9小时以上">待机时长：9小时以上</li>
                <li title="其他色系">色系：其他色系</li>
                <li title="其他">显卡型号：其他</li>
                <li title="Intel 其他">处理器：Intel 其他</li>
                <li title="背光键盘，其他">特性：背光键盘，其他</li>
            </ul>
            <p >
                <a href="#bb" data-toggle="tab">更多参数<s class="txt-arr">&gt;&gt;</s></a>
            </p>
            <div id="J-detail-banner">
                <a id="p-cat-insert" target="_blank" title="" href="//c-nfa.jd.com/adclick?keyStr=6PQwtwh0f06syGHwQVvRO2qQjwLJ5GHB8CWaVmO7akwmZciPhiGV2hWF8NDe0H/JNiAYfgtpim82Oa05ikX841wb6XhLAkGiDe8JD4Y/FPPIrU1UkzVpVyi+fQoI5Y5e4fLWlvRBkxoM4QrINBB7LQkv6YCGes7QPovDd/lHOGC/5UL8HFOzerq4HDzZJy/AjnSIFtrxkX4xkYbQvHViCGKnFtB6rhrxWO1MpkcMG5SoRUSOdb56zrttLfl8vNBFcptr0poJNKZrfeMvuWRplv4bRbtDQshzWfMXyqdyQxyNrmP1wRDLNloYOL46zk6YpGgD9f7DD80JI2OBqrgiZA==&amp;cv=2.0&amp;url=https://sale.jd.com/act/KQTWqUaZzCv0Lf.html"><img width="990" alt="" src="//img30.360buyimg.com/da/jfs/t1/14664/5/5748/51272/5c41aca0E091cfd8b/a85a42971f7d8a92.jpg">
                </a>
            </div>
            <div align="center">
                <table id="__01" width="750" height="1318" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td><img alt="" width="750" height="375" usemap="#Map96" border="0" class="" src="//img12.360buyimg.com/cms/jfs/t1/25559/8/5468/157101/5c3dbfd2Ec1deeaec/b1cf1daae7c5c65f.jpg"></td>      </tr>    <tr>      <td><img alt="" width="750" height="309" usemap="#Map97" border="0" class="" src="//img14.360buyimg.com/cms/jfs/t1/15022/27/5449/120341/5c3dc007Ed60f995d/cc64d74b99413c97.jpg"></td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" width="750" height="306" usemap="#Map98" border="0" class="" src="//img12.360buyimg.com/cms/jfs/t1/31765/33/558/100707/5c3dc055E477cff77/b5520223f41b50d4.jpg"></td>
                    </tr>
                    <tr>
                        <td><img alt="" width="750" height="328" usemap="#Map99" border="0" class="" src="//img11.360buyimg.com/cms/jfs/t1/10108/24/9118/79345/5c3dc0dfE7b1e7c8c/35bc5304108b4381.jpg">
                            <map name="Map98">
                                <area shape="rect" coords="506,0,734,296" href="https://item.jd.com/7629588.html" target="_blank">
                                <area shape="rect" coords="16,2,244,298" href="https://item.jd.com/7019143.html" target="_blank">
                                <area shape="rect" coords="259,2,487,298" href="https://item.jd.com/5225346.html" target="_blank">
                            </map>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div align="center">
                <style></style><br><div skucode="100010"></div>商品介紹頁面素材由Apple提供
                <table  width="750" border="0" align="center" cellpadding="0" cellspacing="0" class="ke-zeroborder">
                    <tbody>
                    <tr>
                        <td>
                            <img width="750" height="249" alt="" usemap="#Map01" border="0" class="" src="https://img14.360buyimg.com/cms/jfs/t1/21110/13/5033/79400/5c380af6E167e6f64/c1a2c5294006dad9.jpg">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img width="750" height="360" alt="" class="" src="https://img10.360buyimg.com/imgzone/jfs/t15214/72/2409872661/64644/fa8a03f2/5a9eb2e2Nf52bcbf9.jpg">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <map name="Map01">
                    <area shape="rect" coords="35,56,134,202" href="https://mall.jd.com/view_page-86030491.html" target="_blank">
                    <area shape="rect" coords="230,54,329,199" href="https://mall.jd.com/view_page-86030491.html" target="_blank">
                    <area shape="rect" coords="419,55,519,201" href="https://mall.jd.com/view_page-86030491.html" target="_blank">
                    <area shape="rect" coords="614,55,713,201" href="https://mall.jd.com/view_page-86030491.html" target="_blank">
                </map>
                <div align="center">
                    <table width="750" border="0" cellpadding="0" cellspacing="0" class="ke-zeroborder">
                        <tbody>
                        <tr>
                            <td>
                                <img width="750" height="1024" alt="" class="" src="//img11.360buyimg.com/cms/jfs/t20029/237/448493358/97620/20a7538b/5af56e16Nf7723fae.jpg">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><br><br>
            </div>
        </div>
    </div>





    <div class="tab-pane fade" id="bb" >
            <div class="Ptable">
                <div class="Ptable-item">
                    <h3>主体</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>颜色</dt>
                            <dd class="Ptable-tips">
                                <a href="#none"><i class="Ptable-sprite-question"></i></a>
                                <div class="tips" style="display: none;">
                                    <div class="Ptable-sprite-arrow"></div>
                                    <div class="content">
                                        <p>备注颜色必须与页面介绍、产品说明书、外包装等一致</p>
                                    </div>
                                </div>
                            </dd>
                            <dd>银色</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>平台</dt><dd>Intel</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>认证型号</dt>
                            <dd class="Ptable-tips">
                                <a href="#none"><i class="Ptable-sprite-question"></i></a>
                                <div class="tips" style="display: none;">
                                    <div class="Ptable-sprite-arrow"></div>
                                    <div class="content">
                                        <p>3C证书上的产品型号</p>
                                    </div>
                                </div>
                            </dd>
                            <dd>MQD32CH/A</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>操作系统</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>操作系统</dt><dd>Mac OS</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>处理器</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>CPU类型</dt><dd>第五代智能英特尔酷睿i5处理器</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>CPU速度</dt><dd>1.8GHz</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>核心</dt><dd>双核</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>内存</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>内存容量</dt>
                            <dd class="Ptable-tips">
                                <a href="#none"><i class="Ptable-sprite-question"></i></a>
                                <div class="tips">
                                    <div class="Ptable-sprite-arrow"></div>
                                    <div class="content">
                                        <p>内存容量通常是指随机存储器（RAM）的容量，是内存条的关键性参数。一般而言，内存容量越大越有利于系统的运行。内存容量的上限一般由主板芯片组和内存插槽决定。</p>
                                    </div>
                                </div>
                            </dd>
                            <dd>8GB</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>硬盘</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>硬盘容量</dt><dd>其它</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>固态硬盘</dt><dd>128GB SSD</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>显卡</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>类型</dt><dd>集成显卡</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>显示器</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>屏幕尺寸</dt><dd>其他</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>屏幕规格</dt><dd>13.3英寸</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>显示比例</dt><dd>宽屏16：10</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>物理分辨率</dt><dd>1440 x 900</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>屏幕类型</dt><dd>LCD</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>通信</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>局域网</dt><dd>其它</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>无线局域网</dt><dd>有</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>端口</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>音频端口</dt><dd>其它</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>音效系统</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>扬声器</dt><dd>内置扬声器</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>内置麦克风</dt><dd>有</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>输入设备</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>键盘</dt><dd>全尺寸键盘</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>触摸板</dt><dd>有</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>其它设备</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>网络摄像头</dt><dd>有</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>电源</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>电池</dt><dd>内置锂离子电池</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>续航时间</dt><dd>&gt;8小时</dd>
                        </dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>电源适配器</dt><dd>其它</dd>
                        </dl>
                    </dl>
                </div>
                <div class="Ptable-item">
                    <h3>机器规格</h3>
                    <dl>
                        <dl class="clearfix" style="margin:0">
                            <dt>净重</dt><dd>&lt;1.5kg</dd>
                        </dl>
                    </dl>
                </div>
            </div>
            <div class="package-list">
                <h3>包装清单</h3>
                <p>MacBook× 1、电源适配器× 1、充电线缆× 1</p>
            </div>
        </div>





    <div class="tab-pane fade" id="cc">
        <div class="mt">
            <h3>售后保障</h3>
        </div>
        <div class="serve-agree-bd">
            <dl>
                <dt>
                    <i class="goods"></i>
                    <strong>厂家服务</strong>
                </dt>
                <dd>
                    1、Mac 电脑整机及所含附件自原始购买之日起享有 1 年保修期。主要部件享有自购买之日起 2 年保修期。Mac 台式电脑所有主要部件包括：主板 (MLB)、处理器 (CPU)、内存、硬盘 (HDD/SSD)、电源和显卡。Mac 笔记本电脑所有主要部件范围包括主板 (MLB)、处理器 (CPU)、内存、硬盘 (HDD/SSD)、电源适配器、键盘和显示屏 (LCD)。可另外购买 AppleCare Protection Plan 全方位服务计划。2、Mac电脑不支持7天无理由退换货，请您再三确认需求后再下单购买。如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务。3、Apple官方售后服务电话：4006668800，您可以查询本品牌在各地售后服务中心的联系方式及地址。<br>
                    如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！<br>(注:如厂家在商品介绍中有售后保障的说明,则此商品按照厂家说明执行售后保障服务。)
                </dd>

                <dt>
                    <i class="goods"></i>
                    <strong>京东承诺</strong>
                </dt>
                <dd>
                    京东平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！<br>
                    注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
                </dd>
                <dt>
                    <i class="goods"></i><strong>
                    正品行货             </strong>
                </dt>
                <dd>京东商城向您保证所售商品均为正品行货，京东自营商品开具机打发票或电子发票。</dd>
                <dt><i class="unprofor"></i><strong>全国联保</strong></dt>
                <dd>
                    凭质保证书及京东商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由京东联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。京东商城还为您提供具有竞争力的商品价格和<a href="//help.jd.com/help/question-892.html" target="_blank">运费政策</a>，请您放心购买！
                    <br><br>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
                </dd>
            </dl>
        </div>
    </div>


    <div class="tab-pane fade" id="dd">
            <div class="panel-body">
            <div id="flip">增加评论</div>
            <div id="panel">
                <textarea rows="10" cols="50" name="plnr"></textarea><br>
                <button onclick="tj()" class="btn btn-success" >提交</button>
            </div>

        </div>
        <table id="table"></table>
    </div>


    <div class="tab-pane fade" id="ee">
        <div class="mt">
            <h3>商品问答</h3>
        </div>
        <div class="ask-wrap">
            <i class="icon-dog"></i><span>心中疑惑就问问买过此商品的同学吧~</span><a href="#none" clstag="shangpin|keycount|product|woyaotiwen" class="J-btn-ask btn-ask">我要提问</a>
        </div>
    </div>
</div>

</body>
</html>
