<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/bootstrap-table/bootstrap-table.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
<script type="text/javascript">
    var qqqq="";
$(function () {
    $("#img").attr("src", "[[${session.mallSku.img}]]");
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return decodeURI(r[2]);
            }
            return null;
        }
        var id = getQueryString("id");
         qqqq=id;
        getPl(id);
})

    function getPl(id) {
        $('#table').bootstrapTable({
            url:"/getPl",
            striped: true,  //表格显示条纹，默认为false
            method:"post",
            contentType:"application/x-www-form-urlencoded",
            toolbar:'#toolbar',
            pagination: true, // 在表格底部显示分页组件，默认false
            pageList: [2,3,4,6,8], // 设置页面可以显示的数据条数
            pageSize: 4, // 页面数据条数
            pageNumber: 1, // 首页页码
            clickToSelect: false, //是否启用点击选中行
            sidePagination: 'server', // 设置为服务器端分页(!!!!)
            queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                console.log(params)
                return {
                    pageSize: params.limit, // 每页要显示的数据条数
                    offset: params.offset, // 每页显示数据的开始行号
                    id:id
                }
            },
            columns: [{
                checkbox: true
            }, {
                field: 'username',
                title: '用户'
            }, {
                field: 'plshj',
                title: '评论时间'
            },{
                field: 'plnr',
                title: '评论内容'
            }]
        })
    }
    $(document).ready(function(){
        $("#flip").click(function(){
            $("#panel").slideToggle("slow");
        });

    })
    function tj(){
        var a=$("[name='plnr']").val();
        $.ajax({
            url:"/addPl",
            type:"POST",
            data:{plnr:a,sku_id:qqqq},
            success:function(result){
                location.reload();
            },
            error:function(){
                alert("失败了");
            }
        })
    }



    function addcar(){
        $.ajax({
            url:"/car/queryCookie",
            type:"POST",
            data:{sku:qqqq},
            success:function(data){
                alert("加入购物车成功");
            },
            error:function(){
                alert("失败了");
            }
        });




    }







</script>
<style type="text/css">
    #panel,#flip
    {
        padding:5px;
        text-align:center;
        background-color:#e5eecc;
        border:solid 1px #c3c3c3;
    }
    #panel
    {
        padding:50px;
        display:none;
    }
</style>
<body>
<div class="top">
    <div class="top_text">
        <a href="">用户登录</a>
        <a href="">用户注册</a>
        <a href="">供应商登录</a>
        <a href="">供应商注册</a>
    </div>
</div>

<div class="search searchBac">
    <div class="top_img" style="background-color:#ff9933">
        <img src="//m.360buyimg.com/babel/jfs/t1/27825/39/6000/28861/5c45676bEaaecfc4b/58a017e7412beb55.png">
    </div>

    <div class="card">
        <a href="/test/toView?url=cartPage">购物车<div class="num">0</div></a>
        </div>

    </div>
</div>
<div class="menu">
    <div class="nav">
        <div class="navs">
            <div class="left_nav">
                全部商品分类
            </div>
        </div>
    </div>
</div>

<div class="Dbox">
    <div class="box">
        <div class="left">
            <div class="timg"><img  id="img" alt=""></div>
            <div class="timg2">
                <div class="lf"><img src="images/lf.jpg" alt=""></div>
                <div class="center">
                    <span><img src="/images/aa.jpg" alt="" width="50"></span>
                    <span><img src="/images/bb.jpg" alt="" width="50"></span>
                    <span><img src="/images/cc.jpg" alt="" width="50"></span>
                    <span><img src="/images/dd.jpg" alt="" width="50"></span>
                    <span><img src="/images/ee.jpg" alt="" width="50"></span>
                </div>
                <div class="rg"><img src="images/rg.jpg" alt=""></div>
            </div>
            <div class="goods"><img src="images/img_6.jpg" alt=""></div>
        </div>
        <div class="cent">
            <div class="title">[[${session.mallSku.shpmch}]]</div>
            <div class="bg">
                <p>市场价：<strong>￥[[${session.mallSku.price}]]</strong></p>
                <p>促销价：<strong>￥[[${session.mallSku.price}]]</strong></p>
            </div>
            <div style='color: red '>
            <p>商品描述：<strong>[[${session.mallSku.msh}]]</strong></p>

            </div>

            <div class="clear" style="margin-top:20px;">
                <div class="min_t" style="line-height:36px">数量：</div>
                <div class="num_box">
                    <input type="text" name="num" value="1" style="width:40px;height:32px;text-align:center;float:left">
                    <div class="rg">
                        <img src="images/jia.jpg" id="jia" alt="">
                        <img src="images/jian.jpg" id="jian" alt="">
                    </div>
                </div>
            </div>
            <div class="clear" style="margin-top:20px;">
                <img src="images/mai.jpg" alt="">
                <a href="javascript:void(0)"  onclick="addcar()"><img src="images/shop.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="Dbox1">
    <div class="panel panel-default">
        <div class="panel-heading">评论列表</div>
        <div class="panel-body">
            <div id="flip">增加评论</div>
            <div id="panel">
                <textarea rows="10" cols="50" name="plnr"></textarea><br>
                <button onclick="tj()" class="btn btn-success" >提交</button>
            </div>
            <table id="table"></table>
        </div>
    </div>
</div>
</body>
</html>