<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
</head>
<body>

<input type="button" onclick="totest02()" value="ce">


<script type="text/javascript" th:inline="none">

    function totest02(){
        $("#myHoverQD").load("tyt.html", function(responseContent,status) {
            //打印到console
            console.log(responseContent);
            console.log(status);
        });

    }




</script>
</body>
</html>